<div>
  <b>Click on specific movie to <button class="hint_btn" onclick="hint()">Edit</button> or <button class="hint_btn" onclick="hint()">Delete</button></b>
</div>
<div>
    <div style="border-bottom: 0px;"><b>Filter</b></div>
    <form action="/movies/partialGet" data-remote="true" method="get">
      <div id="flex_row">
        <div class="filter_form" style="width: 15%;">
          <div class="filter_top_label"><b>Rating</b></div>
          <input type="checkbox" name="rat[]" value="-" onclick="filter()" checked>
          <label>-</label><br>
          <input type="checkbox" name="rat[]" value="G" onclick="filter()" checked>
          <label>G</label><br>
          <input type="checkbox" name="rat[]" value="PG" onclick="filter()" checked>
          <label>PG</label><br>
          <input type="checkbox" name="rat[]" value="PG-13" onclick="filter()" checked>
          <label>PG-13</label><br>
          <input type="checkbox" name="rat[]" value="R" onclick="filter()" checked>
          <label>R</label><br>
          <input type="checkbox" name="rat[]" value="NC-17" onclick="filter()" checked>
          <label>NC-17</label><br>
        </div>
        <div class="filter_form" style="width: 85%; border-right: 0px;">
          <div class="filter_top_label"><b>Release Date</b></div>
          <input type="date" name="re[1]"/>
          <label>to</label><input type="date" name="re[2]"/>
          <input id="subbtn" type="submit" value="Filter">
        </div>
      </div>
      </form>

</div>

<div id="mov_table"> 
<%= render "movies/partial/mov_table" %>
</div>

<script>
  function hint() {
    document.getElementById('alert').innerHTML="Click on Specific movie from table below to edit or delete!";
    setTimeout(disappear_delay, 3000, "alert");
  }
  function filter() {
    document.getElementById('subbtn').click();
  }
  function disappear_delay(e) {
    document.getElementById(e).innerHTML="";
  }
  if (document.getElementById('alert').value != "") {
      setTimeout(disappear_delay, 3000, "alert");
  }
  if (document.getElementById('notice').value != "") {
      setTimeout(disappear_delay, 3000, "notice");
  }
</script>