/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
default to all pages
*/
html{
   font: 400 13.3333px Arial;
   background-color: #ffe2e2;
}
.alert{
   color: #ffffffea;
   background-color: #ff0000;
   border: 0px solid #000000;
   margin: 2px;
   padding: 0px;
}
.notice{
   color: #ffffffea;
   background-color: #15d425;
   border: 0px solid #000000;
   margin: 2px;
   padding: 0px;
}

div {
   border: 1px solid #000000;
   padding: 7px;
}
div#header {
   display: flex;
   justify-content: center;
   background-color: #383e56;
}
div#nav_bar {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   padding: 0px;
   background-color: #f69e7b;
   
}
div#user_nav {
   display: flex;
   flex-flow: row-reverse nowrap;
   border: 0px;
}
div#menu_nav {
   display: flex;
   flex-flow: row nowrap;
   padding: 0px;
   border: 0px;
}
div#content {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   padding: 0px;
   border: 0px;
   background-color: #ffe2e2;
}
div#contain {
   padding: 0px;
   border: 0px;
   background-color: #fff5ea;
}
div#tmdb_div {
   background-color: #463333;
   color: rgb(255, 255, 255);
   border: 1px solid #777777;
}


table {
   border-collapse: collapse;
   width: 100%;
   border: 1px solid rgb(0, 0, 0);
   text-align: left;
   background-color: #ffede6;
 }
 
 th, td {
   padding: 8px;
   text-align: left;
   border: 1px solid rgb(85, 85, 85);
   
 }

 tr:hover {background-color:#ffffff;}
 

.hint_btn, .btn_link:link, .btn_link:visited, input[type=submit]{
   background-color: white;
   color: black;
   border: 1px solid #000000;
   padding: 5px 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   border-radius: 4px;
}
.hint_btn:hover, .btn_link:hover, .btn_link:active, input[type=submit]:hover{
   background-color: #000000;
   color: rgb(255, 255, 255);
}
input#tmdb_btn {
   border: 2px solid #000000;
}
input#tmdb_btn:hover {
   border: 2px solid #ffffff;
}

div#user_nav {
   padding: 0px;
}
.nav_link:link, .nav_link:visited {
   border: 1px solid #777777;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   background-color: #463333;
   color: rgb(255, 255, 255);
} 
.nav_link:hover, .nav_link:active {
   background-color: #ffffff;
   color: rgb(0, 0, 0);
}

.header_link:link, .header_link:visited {
   background-color: #ffe986;
   color: rgb(235, 0, 0);
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 70px;
   border-radius: 20px;
} 
.header_link:hover, .header_link:active {
   background-color: #000000;
   color: rgb(255, 0, 0);
}


div#flex_row {
   display: flex;
   flex-flow: row nowrap;
   padding: 0px;
}
div.filter_top_label {
   margin-bottom: 7px;
   border-left: 0px;
   border-top: 0px;
   border-right: 0px;
}
div.filter_form {
   border-top: 0px;
   border-left: 0px;
   border-bottom: 0px;
}

div.des_div{
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
}
textarea {
   resize: none;
}

label {
   font-weight: bold;
}

a.mov_link:link, a.mov_link:visited {
   background-color: white;
   color: black;
   border: 1px solid #000000;
   padding: 2px 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   border-radius: 4px;
}
a.mov_link:hover {
   background-color: #000000;
   color: rgb(255, 255, 255);
}